* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;


}

@font-face {
  font-family: 'Satoshi Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/public/Fonts/SatoshiFonts/Satoshi-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Integralcf';
  font-style: normal;
  font-weight: 700;
  src: url('/public/Fonts/Integral/Fontspring-DEMO-integralcf-bold.otf') format('truetype');
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  padding: 10px 40px;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

@media only screen and (max-width :640px) {
  .container {
    padding: 5px 10px;
  }
}







.cart-icon-wrapper {
  position: relative;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -10px;

  min-width: 18px;
  height: 18px;
  padding: 0 6px;

  background-color: #ff3b30;
  color: white;

  font-size: 11px;
  font-weight: bold;

  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid white;
}

button {
  font-family: inherit;
  border: none;
}